<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zlsadesign.autogyro">

  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.WRITE_SETTINGS" />

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <activity
        android:name=".IntroActivity"
        android:label="@string/label_intro"
        android:theme="@style/IntroTheme"
        android:launchMode="singleTask"
        >

      <!-- Portrait lock is temporary, waiting on material-intro-screen 0.0.5 -->

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

    </activity>

  </application>

</manifest>
